<!DOCTYPE html>
<html>
<head>
  <title>SlackerNews</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--  Navigation Bar -->

<div class="nav">
  <ul>
    <li>Y</li>
    <li><a href="#"><strong>Hacker News</strong></a></li>
    <li><a href="#">new</a></li>
    <li>|</li>
    <li><a href ="#">comments</a></li>
    <li>|</li>
    <li><a href="#">ask</a></li>
    <li>|</li>
    <li><a href="#">jobs</a></li>
    <li>|</li>
    <li><a href="#">submit</a></li>
    <li><a href="#">login</a></li>
  </ul>
</div>

<!-- Main Content -->

<div class="comments">
  <div id="articletitle">
    <h1>&#9660;<a href="https://www.firebase.com/blog/2013-08-15-firebase-leaves-beta-today.html">Firebase Leaves Beta Today</a> (firebase.com)</h1>
    <h2>63 points by <a href="#">lyime</a> 56 minutes ago | <a href="#">17 comments</a></h2>
  </div>

  <div class="textbox">
    <textarea rows="6" cols="60"></textarea>
  </div>

  <div class="button">
    <form action="addcomment">
      <input type="button" value="add comment">
    </form>
  </div>

    <ul>
      <li>  
        <h1>&#9660;<a href="#">ferdo</a> 17 minutes ago | <a href="#">link</a></h1>
        <h2>Miranda was then released without charge, but officials confiscated electronics equipment including his mobile phone, laptop, camera, memory sticks, DVDs and games consoles.<br></br>
        Thievery and intimidation are good indicators of who and what we're dealing with.</h2>
        <h3><a href="#">reply</a></h3>
      </li>
    </ul>
</div>

<!--  Footer -->

<div class="footer">
  <ul>
     <li><a href="#">Lists</a></li>
     <li>|</li>
     <li><a href="#">RSS</a></li>
     <li>|</li>
     <li><a href="#">Bookmarklet</a></li>
     <li>|</li>
     <li><a href="#">Guidelines</a></li>
     <li>|</li>
     <li><a href="#">FAQ</a></li>
     <li>|</li>
     <li><a href="#">DMCA</a></li>
     <li>|</li>
     <li><a href="#">News News</a></li>
     <li>|</li>
     <li><a href="#">Feature Requests</a></li>
     <li>|</li>
     <li><a href="#">Bugs</a></li>
     <li>|</li>
     <li><a href="#">Y Combinator</a></li>
     <li>|</li>
     <li><a href="#">Apply</a></li>
     <li>|</li>
     <li><a href="#">Library</a></li>
  </ul> 

  <!-- Search Bar -->

  <form class="Searchbar">
    <label>Search: </label>
    <input type="searchbar" name="search">
  </form>

  </form>

</div>

<%= yield %>

</body>
</html>