<div class="main">
  <ol>
    <li> 
      <h1>&#9660;<a href="https://www.firebase.com/blog/2013-08-15-firebase-leaves-beta-today.html">Firebase Leaves Beta Today</a> (firebase.com)</h1>
      <h2>63 points by <a href="#">lyime</a> 56 minutes ago | <a href="http://localhost:3000/home/commentspage">17 comments</a></h2>
    </li>
 
    <li>
      <h1>&#9660;<a href="http://fitzgeraldnick.com/weblog/50/">Destructuring Assignment in ECMAScript 6</a> (fitzgeraldnick.com)</h1>
      <h2>40 points by <a href="#">mnemonik</a> 49 minutes ago | <a href="http://localhost:3000/home/commentspage">5 comments</a></h2>
    </li>
 
    <li>
      <h1>&#9660;<a href="https://stripe.com/blog/introducing-stripe-uk">Introducing Stripe UK</a> (stripe.com)</h1>
      <h2>230 points by <a href="#">woodrow</a> 4 hours ago | <a href="http://localhost:3000/home/commentspage">118 comments</a></h2>
    </li>
 
    <li>
      <h1>&#9660;<a href="http://ragnard.github.io/2013/08/12/datomic-in-the-browser.html">Datomic in the browser</a> (ragnard.github.io)</h1>
      <h2>47 points by <a href="#">brucehauman</a> 2 hours ago | <a href="http://localhost:3000/home/commentspage">1 comment</a></h2>
    </li>
 
    <li>
      <h1>&#9660;<a href="https://developers.facebook.com/blog/post/2013/08/15/summary-of-the-august-13th-app-outage/">Facebook App Outage Postmortem</a> (facebook.com)</h1>
      <h2>15 points by <a href="#">lacker</a> 32 minutes ago | <a href="http://localhost:3000/home/commentspage">2 comments</a></h2>
    </li>
 
    <li>
      <h1>&#9660;<a href="http://techcrunch.com/2013/08/15/inks-new-mobile-framework-lets-ios-apps-talk-to-each-other-share-data-you-know-like-on-android/">Ink (YC S12) Releases New iOS Layer That Allows Apps to Interact, Share Data</a> (techcrunch.com)</h1>
      <h2>19 points by <a href="#">betojuareziii</a> 1 hour ago | <a href="http://localhost:3000/home/commentspage">13 comments</a></h2>
    </li>
 
    <li>
      <h1>&#9660;<a href="http://www.lettersofnote.com/2013/07/its-real-thing.html?m=1">It's the real thing</a> (lettersofnote.com)</h1>
      <h2>75 points by <a href="#">ezl</a> 3 hours ago | <a href="http://localhost:3000/home/commentspage">44 comments</a></h2>
    </li>
 
    <li>
      <h1>&#9660;<a href="http://firstround.com/article/The-anatomy-of-the-perfect-technical-interview-from-a-former-Amazon-VP">The anatomy of the perfect technical interview from a former Amazon VP</a> (firstround.com)</h1>
      <h2>55 points by <a href="#">jnazario</a> 3 hours ago | <a href="http://localhost:3000/home/commentspage">26 comments</a></h2>
    </li>
 
    <li>
      <h1>&#9660;<a href="http://www.washingtonpost.com/blogs/ask-the-post/wp/2013/08/15/editors-note/">The Washington Post Web site was hacked today</a> (washingtonpost.com)</h1>
      <h2>34 points by <a href="#">selamattidur</a> 2 hours ago | <a href="http://localhost:3000/home/commentspage">26 comments</a></h2>
    </li>
 
    <li>
      <h1>&#9660;<a href="http://stackoverflow.com/questions/16159203/why-does-this-java-program-terminate-despite-that-appears-that-it-shouldt-and">Why does this Java program terminate despite appearing that it shouldn't?</a> (stackoverflow.com)</h1>
      <h2>88 points by <a href="#">patmcguire</a> 3 hours ago | <a href="http://localhost:3000/home/commentspage">83 comments</a></h2>
    </li>
  </ol>
</div>