<!DOCTYPE html>
<html>
<head>
  <title>SlackerNews</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--  Navigation Bar -->

<div class="nav">
  <ul>
    <li>Y</li>
    <li><a href="#"><strong>Hacker News</strong></a></li>
    <li><a href="#">new</a></li>
    <li>|</li>
    <li><a href ="#">comments</a></li>
    <li>|</li>
    <li><a href="#">ask</a></li>
    <li>|</li>
    <li><a href="#">jobs</a></li>
    <li>|</li>
    <li><a href="#">submit</a></li>
    <li><a href="#">login</a></li>
  </ul>
</div>

<!-- Main Content -->

<div class="main">
  <ol>
    <li> 
      <h1>&#9660;<a href="https://www.firebase.com/blog/2013-08-15-firebase-leaves-beta-today.html">Firebase Leaves Beta Today</a> (firebase.com)</h1>
      <h2>63 points by <a href="#">lyime</a> 56 minutes ago | <a href="#">17 comments</a></h2>
    </li>
 
    <li>
      <h1>&#9660;<a href="http://fitzgeraldnick.com/weblog/50/">Destructuring Assignment in ECMAScript 6</a> (fitzgeraldnick.com)</h1>
      <h2>40 points by <a href="#">mnemonik</a> 49 minutes ago | <a href="#">5 comments</a></h2>
    </li>
 
    <li>
      <h1>&#9660;<a href="https://stripe.com/blog/introducing-stripe-uk">Introducing Stripe UK</a> (stripe.com)</h1>
      <h2>230 points by <a href="#">woodrow</a> 4 hours ago | <a href="#">118 comments</a></h2>
    </li>
 
    <li>
      <h1>&#9660;<a href="http://ragnard.github.io/2013/08/12/datomic-in-the-browser.html">Datomic in the browser</a> (ragnard.github.io)</h1>
      <h2>47 points by <a href="#">brucehauman</a> 2 hours ago | <a href="#">1 comment</a></h2>
    </li>
 
    <li>
      <h1>&#9660;<a href="https://developers.facebook.com/blog/post/2013/08/15/summary-of-the-august-13th-app-outage/">Facebook App Outage Postmortem</a> (facebook.com)</h1>
      <h2>15 points by <a href="#">lacker</a> 32 minutes ago | <a href="#">2 comments</a></h2>
    </li>
 
    <li>
      <h1>&#9660;<a href="http://techcrunch.com/2013/08/15/inks-new-mobile-framework-lets-ios-apps-talk-to-each-other-share-data-you-know-like-on-android/">Ink (YC S12) Releases New iOS Layer That Allows Apps to Interact, Share Data</a> (techcrunch.com)</h1>
      <h2>19 points by <a href="#">betojuareziii</a> 1 hour ago | <a href="#">13 comments</a></h2>
    </li>
 
    <li>
      <h1>&#9660;<a href="http://www.lettersofnote.com/2013/07/its-real-thing.html?m=1">It's the real thing</a> (lettersofnote.com)</h1>
      <h2>75 points by <a href="#">ezl</a> 3 hours ago | <a href="#">44 comments</a></h2>
    </li>
 
    <li>
      <h1>&#9660;<a href="http://firstround.com/article/The-anatomy-of-the-perfect-technical-interview-from-a-former-Amazon-VP">The anatomy of the perfect technical interview from a former Amazon VP</a> (firstround.com)</h1>
      <h2>55 points by <a href="#">jnazario</a> 3 hours ago | <a href="#">26 comments</a></h2>
    </li>
 
    <li>
      <h1>&#9660;<a href="http://www.washingtonpost.com/blogs/ask-the-post/wp/2013/08/15/editors-note/">The Washington Post Web site was hacked today</a> (washingtonpost.com)</h1>
      <h2>34 points by <a href="#">selamattidur</a> 2 hours ago | <a href="#">26 comments</a></h2>
    </li>
 
    <li>
      <h1>&#9660;<a href="http://stackoverflow.com/questions/16159203/why-does-this-java-program-terminate-despite-that-appears-that-it-shouldt-and">Why does this Java program terminate despite appearing that it shouldn't?</a> (stackoverflow.com)</h1>
      <h2>88 points by <a href="#">patmcguire</a> 3 hours ago | <a href="#">83 comments</a></h2>
    </li>
  </ol>
</div>

<!--  Footer -->

<div class="footer">
  <ul>
     <li><a href="#">Lists</a></li>
     <li>|</li>
     <li><a href="#">RSS</a></li>
     <li>|</li>
     <li><a href="#">Bookmarklet</a></li>
     <li>|</li>
     <li><a href="#">Guidelines</a></li>
     <li>|</li>
     <li><a href="#">FAQ</a></li>
     <li>|</li>
     <li><a href="#">DMCA</a></li>
     <li>|</li>
     <li><a href="#">News News</a></li>
     <li>|</li>
     <li><a href="#">Feature Requests</a></li>
     <li>|</li>
     <li><a href="#">Bugs</a></li>
     <li>|</li>
     <li><a href="#">Y Combinator</a></li>
     <li>|</li>
     <li><a href="#">Apply</a></li>
     <li>|</li>
     <li><a href="#">Library</a></li>
  </ul> 

  <!-- Search Bar -->

  <form class="Searchbar">
    <label>Search: </label>
    <input type="searchbar" name="search">
  </form>

  </form>

</div>

<%= yield %>

</body>
</html>
